body {

    height: 100vh;
    overflow: hidden;

}

.page {

    padding-top: 5vh;
    height: 95vh;

}

.page > .container, .page > .container > .jumbotron {

    height: 100%;

}

.scroll-box {

    height: calc(90vh - 240px);
    overflow-y: scroll;

}

